<script>
import Host from './Host.svelte'
import Controller from './Controller.svelte'
import { sessionID, webSocket } from '../store'
import Fluids from './Fluids.svelte'

const urlParams = new URLSearchParams(window.location.search)
const id = urlParams.get('id')
const isHost = id === null || id.length !== 36
if (!isHost) {
  sessionID.set(id)
  $webSocket.emit('join', id)
}
</script>


{#if isHost}
  <Host />
{:else}
  <Controller />
{/if}


<style>
:global(body) {
  background-color: black;
  color: white;
  font-size: 150%;
}

:global(.container-middle) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
</style>
