<script>
  import { sessionID, webSocket } from '../store'
  import { demandFullScreen, calculateRelativeCoordinates, getDeviceDimensions } from './helpers.js'

  const p = { x: 0, y: 0 }
  const deviceDimensions = getDeviceDimensions()
  
  function updateDeviceDimensions () {
    Object.assign(deviceDimensions, getDeviceDimensions())
  }
  window.addEventListener('resize', updateDeviceDimensions)

  $webSocket.emit('transmissionstatus', {
    sessionID: $sessionID,
    text: 'start',
  })

  function handleTouchstart(e) {
    e.preventDefault()

    const targetTouches = []
    for (let i = 0; i < e.targetTouches.length; i++) {
      targetTouches.push({})
      targetTouches[i].identifier = 0
      const {x, y} = calculateRelativeCoordinates(e.targetTouches[i].pageX, e.targetTouches[i].pageY, deviceDimensions.x, deviceDimensions.y)
      targetTouches[i].pageX = x
      targetTouches[i].pageY = y
    }

    $webSocket.emit('coordinates', {
      sessionID: $sessionID,
      event: {
        targetTouches: targetTouches,
      },
      type: 'start'
    })
  }

  function handleTouchmove(e) {
    e.preventDefault()

    const targetTouches = []
    for (let i = 0; i < e.targetTouches.length; i++) {
      targetTouches.push({})
      targetTouches[i].identifier = 0
      const {x, y} = calculateRelativeCoordinates(e.targetTouches[i].pageX, e.targetTouches[i].pageY, deviceDimensions.x, deviceDimensions.y)
      targetTouches[i].pageX = x
      targetTouches[i].pageY = y
    }

    $webSocket.emit('coordinates', {
      sessionID: $sessionID,
      event: {
        targetTouches: targetTouches
      },
      deviceDimensions: deviceDimensions,
      type: 'move'
    })
  }

  function handleTouchend(e) {
    e.preventDefault()

    const changedTouches = []
    for (let i = 0; i < e.changedTouches.length; i++) {
      changedTouches.push({})
      changedTouches[i].identifier = 0
    }

    $webSocket.emit('coordinates', {
      sessionID: $sessionID,
      event: {
        changedTouches: changedTouches
      },
      deviceDimensions: deviceDimensions,
      type: 'end'
    })
  }
</script>

<style>
  .touchmovearea {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 10px 50px;
    background: #444;
    border-color: #000;
    border-style: solid;
    border-top-width: 5vh;
    border-right-width: 5vw;
    border-bottom-width: 5vh;
    border-left-width: 5vw;
    box-sizing: border-box;
  }
</style>

<div
  class="touchmovearea"
  on:touchstart={handleTouchstart}
  on:touchmove={handleTouchmove}
  on:touchend={handleTouchend}
/>
