<script>
  import ControllerTouch from './ControllerTouch.svelte'
  import ControllerMotion from './ControllerMotion.svelte'
  import { demandFullScreen } from './helpers.js'

  let isExposed = false
  let mode = undefined

  function setMode(e) {
    mode = e.target.dataset.mode
    demandFullScreen()
  }

  if (navigator.permissions) {
    Promise.all([
      navigator.permissions.query({ name: "accelerometer" }),
      navigator.permissions.query({ name: "magnetometer" }),
      navigator.permissions.query({ name: "gyroscope" })
    ])
      .then(results => {
        if (results.every(result => result.state === "granted")) {
          initSensor()
        } else {
          console.log("Permission to use sensor was denied.")
        }
      })
      .catch(err => {
        console.log(
          "Integration with Permissions API is not enabled, still try to start app."
        )
        initSensor()
      })
  } else {
    console.log("No Permissions API, still try to start app.")
    initSensor()
  }

  function initSensor() {
    if ("RelativeOrientationSensor" in window) {
      isExposed = true
    }
  }
</script>

{#if mode === undefined}
  <div class="container-middle">
    <button data-mode="touchmove" on:click={setMode}>Tap gestures</button>
    {#if isExposed}
      <button data-mode="motion" on:click={setMode}>Motion</button>
    {/if}
  </div>
{/if}

{#if mode === 'touchmove'}
  <ControllerTouch />
{/if}

{#if mode === 'motion'}
  <ControllerMotion />
{/if}
