<script>
import { sessionID, webSocket } from '../store'

screen.orientation.lock('portrait')

let offsetX = null

const sensor = new RelativeOrientationSensor({ frequency: 30 })
sensor.onreading = () => {
  sensor.quaternion
  if (offsetX === null) offsetX = 0.5 - sensor.quaternion[2]

  $webSocket.emit('coordinates', {
    sessionID: $sessionID,
    event: {
      targetTouches: [
        {
          identifier: 0,
          pageX: -(sensor.quaternion[2]-offsetX) + 0.5,
          pageY: -sensor.quaternion[0] + 0.5
        }
      ],
    },
    type: 'move'
  })
}
sensor.onerror = event => {}

$webSocket.emit('transmissionstatus', {
  sessionID: $sessionID,
  text: 'start',
})

$webSocket.emit('coordinates', {
  sessionID: $sessionID,
  event: {
    targetTouches: [
      {
        identifier: 0,
        pageX: 0.5,
        pageY: 0.5
      }
    ],
  },
  type: 'start'
})

sensor.start()

</script>


<div class="container-middle">
  <p>Move your device</p>
</div>
