<script>
  import QRCode from 'qrcode'
  import uuidv1 from 'uuid'
  import { sessionID, webSocket } from '../store'
  import io from 'socket.io-client'
  import Fluids from './Fluids.svelte'

  let receivingData = false

  let data

  const newSessionID = uuidv1()
  sessionID.set(newSessionID)

  $webSocket.emit('join', $sessionID)

  const address = `${location.protocol}//${location.host}?id=${$sessionID}`

  const generateQrDataURL = async text => {
    try {
      return await QRCode.toDataURL(text)
    } catch (err) {
      console.error(err)
    }
  }
  $: qrDataURL = generateQrDataURL(address)

  $webSocket.on('transmissionstatus', function(text) {
    if (text === 'start') receivingData = true
  })

  $webSocket.on('coordinates', function(input) {
    data = input
  })
</script>

{#if !receivingData}
  <div class="container-middle">
    {#await qrDataURL}
      <p>Generating Image</p>
    {:then dataURL}
      <div class="card">
        <p>Pleas scan the qr code with the controller.</p>
        <img class="qr-code" src={dataURL} alt="" />
      </div>
    {/await}
  </div>
{:else}

  <Fluids data={data} />

{/if}


<style>
.card {

  padding: 1rem 2rem;
  max-width: 50ch;
  background-color: rgba(255, 255, 255, .8);
  box-shadow: 0 8px 6px -6px black;
  color: black;
  text-align: center;
}

.card, .qr-code {
  border-radius: .5rem;
}

.container-middle {
  background: linear-gradient(217deg, rgba(255, 0, 0, 0.6), rgba(255,0,0,0) 70.71%),
              linear-gradient(127deg, rgba(0,255,0,.6), rgba(0,255,0,0) 70.71%),
              linear-gradient(336deg, rgba(0,0,255,.6), rgba(0,0,255,0) 70.71%);
	background-size: 400% 400%;
	animation: colorPulse 10s ease-in-out infinite;
}

@keyframes colorPulse {
	0% {
		background-position: 0% 0%;
	}
	25% {
		background-position: 0% 100%;
	}
	50% {
		background-position: 100% 100%;
	}
  75% {
		background-position: 100% 0%;
	}
  100% {
    background-position: 0% 0%;
  }
}

</style>
